footer.main-footer 
    .main-footer__wrapper
        a.main-footer__logo
            include ../img/logo-footer.svg
        ul.main-footer__list.social 
            li.main-footer__item.social__item 
                a(href="#").main-footer__link.social__link
                    include ../img/vk.svg
            li.main-footer__item.social__item 
                a(href="#").main-footer__link.social__link
                    include ../img/youtube.svg
            li.main-footer__item.social__item 
                a(href="#").main-footer__link.social__link
                    include ../img/telegram.svg

        .main-footer__copyright
            span.main-footer__copyright-text Разработано
            include ../img/htmlacademy.svg