header
    nav.main-nav
        a.main-nav__logo(href="#")
            include ../img/mishka-logo-mobile.svg
        .main-nav__button
            span.main-nav__bar
            span.main-nav__bar
            span.main-nav__bar
        ul.main-nav__list
            li.main-nav__item
                a.main-nav__link(href="") Каталог товаров
            li.main-nav__item
                a.main-nav__link(href="#") Вязание на заказ
            li.main-nav__item
                a.main-nav__link(href="#") Поиск по сайту
            li.main-nav__item
                a.main-nav__link(href="#") Корзина: пока пуста
