.modal.modal-closed.modal-disappear
    .modal__container 
        .modal__wrapper 
            h3.modal__title добавить #[br] в корзину
            p.modal__text Выберите размер:
            .modal__button-wrapper#buttonWr
                button.modal__button-size.modal__button-size--current S
                button.modal__button-size M
                button.modal__button-size L
            button.modal__button-add добавить