.advantages__wrapper {
    padding: 30px;
    padding-top: 38px;
}

.advantages__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
}

.advantages__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.advantages__item {
    padding-top: 83px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: 30px;
}

.advantages__text {
    margin: 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.advantages__item-flower {
    background-image: url(../img/flower-ico.svg);
}

.advantages__item-style {
    background-image: url(../img/style-ico.svg);
}

.advantages__item-heart {
    background-image: url(../img/heart-ico.svg);
}

.advantages__item-ball {
    background-image: url(../img/ball-ico.svg);
}

.advantages__item-rocket {
    background-image: url(../img/rocket-ico.svg);
}

.advantages__item-gift {
    background-image: url(../img/gift-ico.svg);
}