.main-footer {
    background-color: #f1f1f1;
}

.main-footer__wrapper {
    padding: 30px 30px 23px 30px;

    @media(min-width: 768px) {
        padding: 51px 50px 58px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main-footer__logo {
    display: none; 

    @media(min-width: 768px) {
        display: block;
    }
}

.main-footer__copyright {
    padding: 0 39px;
    padding-top: 22px;
    display: flex;
    gap: 27px;
    align-items: center;
    justify-content: center;

    @media(min-width: 768px) {
        padding: 0;
    }
}

.main-footer__copyright-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
}