.social {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 29px;
    padding: 0 61px;
    padding-bottom: 28px;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-around;
}

.social__link {
    display: flex;
}