-var pageTitle = 'Мишка'

doctype html
html(lang="en")
  head
    title=pageTitle
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
  body
    include pug/header
    main 
      section.page-header 
        h1.page-header__title Милые штуки ручной #[br] работы для дома
        a(href="#").page-header__interior
          h2.page-header__inner-title Предметы #[br] интерьера
          include img/interior.svg
        a(href="#").page-header__toys
          h2.page-header__inner-title Детские #[br] игрушки
          include img/toy.svg
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="js/script.js") 