-var pageTitle = 'Мишка'

doctype html
html(lang="en")
  head
    title=pageTitle
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
  body
    include pug/header
    main 
      section.page-header 
        .page-header__tablet-nav.tablet-nav 
          ul.tablet-nav__list
            li.tablet-nav__item.tablet-nav__item--catalog
              a.tablet-nav__link(href="#") Каталог товаров
            li.tablet-nav__item.tablet-nav__item--croch
              a.tablet-nav__link(href="#") Вязание на заказ
            li.tablet-nav__item.tablet-nav__item--receipt
              a.tablet-nav__link(href="#") Новые поступления
            li.tablet-nav__item.tablet-nav__item--sale
              a.tablet-nav__link(href="#") Распродажа
          p.tablet-nav__text-delivery Бесплатная доставка по России
        h1.page-header__title Милые штуки ручной #[br] работы для дома
        .page-header__category
          a(href="#").page-header__interior
            h2.page-header__inner-title Предметы #[br] интерьера
            include img/interior.svg
          a(href="#").page-header__toys
            h2.page-header__inner-title Детские #[br] игрушки
            include img/toy.svg

      section.product
        .product__wrapper
          h2.product__title Вязаные корзинки
          p.product__text товар #[br] недели
          .product__presentation
            p.product__description
              | Экологически чистая пряжа, #[br] ручная работа.
              | Доступны в шести #[br] расцветках и трёх размерах.
            ul.product__list
              li.product__item
                span.product__property Цвет:
                span.product__property тиффани/серый
              li.product__item
                span.product__property Диаметр:
                span.product__property 25 см
              li.product__item
                span.product__property Высота:
                span.product__property 15 см
            .product__image
              picture 
                source(media="(min-width: 1150px)", srcset="img/triple-set-desktop.jpg")
                source(media="(min-width: 768px)", srcset="img/triple-set-tablet.jpg")
                img(src="img/triple-set-mobile.jpg", alt="Вязаные корзинки.") 
            p.product__price Цена: 990 руб.
            button(type="button").product__button.button Заказать

      section.advantages
        .advantages__wrapper
          h1.advantages__title Коротко о нас:
          ul.advantages__list
            li.advantages__item.advantages__item-flower
              p.advantages__text Экологически #[br] чистые материалы
            li.advantages__item.advantages__item-style
              p.advantages__text Скандинавский стиль #[br] по российской цене
            li.advantages__item.advantages__item-heart
              p.advantages__text Увеличивает лайки #[br] на фотографиях
            li.advantages__item.advantages__item-ball
              p.advantages__text Связано вручную #[br] с любовью и умилением
            li.advantages__item.advantages__item-rocket
              p.advantages__text Поддержка отечественного #[br] производителя
            li.advantages__item.advantages__item-gift
              p.advantages__text Поставляется #[br] в подарочной упаковке

      section.review
        .review__wrapper
          h1.review__title Отзывы
          article.review__summary
            p.review__text 
              | Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как 
              | у популярных инстамамочек. #[br]
              | В отчаянии, я накупила аксессуаров и игрушек в Мишке, #[br] 
              | и мои фотографии сразу стали более стильными, а также набирают больше лайков!
            p.review__name Анастасия Красильникова
              span @misssssiskras
          .review__button-container
            button.review__button-left
            button.review__button-right
          button.review__button-write.button написать

      section.contacts
        .contacts__wrapper 
          h2.contacts__title Контакты
          address.contacts__address 
            ul.contacts__list 
              li.cotacts__item
                p.contacts__text e-mail:
              li.cotacts__item
                p.contacts__text.contacts__text-mail info@mimimishkashop.ru
              li.cotacts__item
                p.contacts__text адрес:
              li.cotacts__item
                p.contacts__text 
                  | г. Санкт-Петербург #[br]
                  | ул. Большая Конюшенная #[br]
                  | д. 19/8, офис 101
        include pug/map
        .contacts__wrapper-button
          button.contacts__button.button напишите нам

      include pug/footer
    include pug/modal-window
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="js/script.js") 