.main-nav__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    display: none;
    top: 80px;
    width: 100%;
    z-index: 3;
}

.main-nav__item {
    border-bottom: 1px solid #ececec;
    position: relative;
    background-color: #fff;
}

.main-nav__item--search {
    transition: 0.15s;

    svg {
        position: absolute;
        transform: translate(10vw, 31px);
    }

    &:hover {
        path {
            fill: #63D1BB;
        }
    }
}

.main-nav__item--cart {
    transition: 0.15s;

    svg {
        position: absolute;
        transform: translate(9.69vw, 30px);
    }

    &:hover {
        path {
            fill: #63D1BB;
        }
    }
}

.main-nav__link {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
    padding-left: 25vw;
    padding-top: 27px;
    padding-bottom: 27px;
    display: block;
}

.main-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 79px;
    justify-content: center;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
}

.main-nav__logo {
    align-self: center;
}