.main-nav__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    display: none;
    top: 80px;
    width: 100%;
}

.main-nav__item {
    border-bottom: 1px solid #ececec;
}

.main-nav__link {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
    padding-left: 76px;
    padding-top: 27px;
    padding-bottom: 27px;
    display: block;
}

.main-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 79px;
    justify-content: center;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
}

.main-nav__logo {
    align-self: center;
}

.main-nav__button {
    width: 20px;
    height: 14px;
    position: absolute;
    right: 31px;
    top: 32px;
}

.main-nav__bar {
    display: block;
    height: 0.15em;
    width: 100%;
    background: #231F20;
    position: absolute;

    &:first-child {
        top: 0;
    }

    &:nth-child(2) {
        top: 5.9px;
    }

    &:last-child {
        bottom: 0;
    }
}